.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffc107;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-area {
  margin-top: 50px;
  padding-top: 15px;
}

.content-area1 {
  margin-top: 40px;
  // padding-top: 15px;
}
